.btn-house{
    margin: 0;
    position : relative;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:#FF6060 ;
    font-size: 24px;
    width: 582px;
    height: 52px;
    display: flex;
    line-height: 45px;
    justify-content: space-between;
    padding-left: 15px;
    margin-top: 33px;
    z-index: 1;
}

.openDropHouseDescription {
    width: 582px;
    margin: 0;
    padding-top: 36px;
    padding-bottom: 19px;
    background-color: #F6F6F6;
    border-radius: 0px 0px  5px 5px;
    position: relative;
    bottom: 3px;
    z-index: 0;
}

.openDropHouseEquipement {
    width: 582px;
    margin: 0;
    padding-top: 36px;
    padding-bottom: 19px;
    background-color: #F6F6F6;
    border-radius: 0px 0px  5px 5px;
    position: relative;
    bottom: 3px;
    z-index: 0;
}

    .dropBox{
        display: flex;
        justify-content: space-around;

    }
