.NotFound {
    font-weight : 700;
    font-size : 288px;
    text-align : center;
    line-height : 41.69px;
    padding-top: 167px;
    color: #FF6060;
        @media screen and (max-width:375px ){
            font-size: 96px;
            line-height: 136.9px;
            padding-top: 83px;
            margin: 0;
        }   
}

.ErrorPage{
    font-weight : 500;
    font-size : 36px;
    text-align : center;
    line-height : 51.34px;
    color: #FF6060;
        @media screen and (max-width:375px ){
            font-size: 18px;
            line-height: 25.67px;
            width: 260px;
            margin-left: auto;
            margin-right: auto;
        }
    
}

.StyledLinkHomeReturn  {
    font-weight : 500;
    font-size : 18px;
    display : block;
    text-align : center;
    line-height : 25.67px;
    color : #FF6060;
    padding-bottom : 159px;
        @media screen and (max-width:375px ){
            padding-top: 67px;
    }
}