.StyledGlobalDiv {
    display:flex;
    justify-content: space-between;
}

.DivLogo {
    padding-top: 2.2%;
    padding-left: 5%;
    @media screen and (max-width:375px ){
        img{
            width: 155px;
            padding-top: 25%;
        }
        
    }
}

.StyledNav {
padding-top: 57px;
padding-right : 5%;
color: #FF6060;
font-size: 24px;
    @media screen and (max-width:375px ){
        padding-right: 5%;
    }  
}

.StyledLink{
    padding-left: 57px;
    font-weight: 500;
    text-decoration : none;
    color: #FF6060;
    font-size: 24px;
    &.active{
        text-decoration: underline;
    }
    @media screen and (max-width:375px ){
        font-size: 12px;
        text-transform: uppercase;
        padding-left: 10px;
    }
}




