.titleHouse{
    color: #FF6060;
    // height: 51px;
    font-weight: 500;
    size: 36px;
}

.cityHouse{
    position: relative;
    bottom: 20px;
    color: #FF6060;
    width: 176px;
    font-weight: 500;
    size: 18px;
    line-height: 25.67px;
}



